.search-container{
    margin-top: 160px;
    margin-bottom: 60px;
}
.item-list-container{
    background-color: transparent;
}
.product{
    background-color: #fff;
}
.card{
    background-color: transparent;
}
.search-item-container{
    padding: 0;
}
.product .addToCardButton button{
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 48, 48);
    font-weight: 500;
    height: 30px;
    border: 1px solid rgb(182, 182, 182);
}
.product .addToCardButton button:hover{
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
}
.product{
    height: 350px;
}